:root {
    --header-background-color: hsl(0, 0%, 0%);
    --header-text-color: hsl(0, 0%, 100%);

    --header-bottom-border-color: hsl(0, 0%, 13%);

    --hover-text-color: hsl(51, 100%, 45%);

    --background-color: hsl(0, 0%, 0%);
    --color : hsl(0, 0%, 100%);

    --mob-nav-border-color: hsl(0, 0%, 100%);

    --form-border-color : hsl(0, 0%, 100%);
    --form-button-text-color: hsl(0, 0%, 0%);
}

body {
    margin: 0px;
    min-width: 360px;
    z-index: 0;
    background-color: var(--background-color);
}


.static-element {
    position: fixed;
}

.flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-style {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    font-size: 30px;
    font-family: "Rye", sans-serif;
}

.logo #branch-text {
    font-size: 25px;
}


.nav {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    color: var(--header-text-color);
    font-size: large;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    color: var(--header-text-color);
}

.mob-nav {
    display: none;
}



.side-menu {

    position: fixed;
    right: 10px;
    top: 80px;

    /* change to flex for active state */
    display: None;  
    flex-direction: column;
    align-content: end;
    row-gap: 10px;
    width: 100px;

    border: var(--mob-nav-border-color) solid 1px;
    border-radius: 10px;
    padding: 20px;

    background-color: black;

    z-index: 1;
}

.side-menu a {
    text-decoration: none;
    color: var(--header-text-color);
    font-size: large;
}

.mob-nav button {
    border-radius: 20px;
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    width: 20vw;
}

.header-bottom-line {
    border-bottom: var(--header-bottom-border-color) solid 2px;
}


.text-hover:hover {
    color: var(--hover-text-color);
    text-decoration: underline;
}

.center-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.content-container {
    background-color: var(--background-color);
    color: var(--color);
    height: 100vh;
}

.center-text {
    justify-items: center;
    align-items: center;
}

.center-text{
    text-align: center;
}

#welcome p {
    text-align: center;
    font-family: "Merriweather";
    font-size: larger;
    width: 70vw;
}

#welcome h1{
    font-size: 50px;
    font-family: "Archivo Black", sans-serif;
}

#entry {
    display: flex;
    flex-direction: row;
}

.btn-style {
    margin: 10px;
    width: 30vw;
    
    padding: 10px;
    font-size: larger;
    border-radius: 10px;

    font-family: "Rye";
}

.btn-style:hover {
    scale: 1.01;
}

.btn-style:active {
    scale: 0.99;
}

@media (width <= 600px) {
    .btn-style {
        width: 60vw;
    }
    #entry {
        flex-direction: column;
    }

    .nav {
        display: none;
    }

    .mob-nav {
        display: flex;
    }
}