:root {
    --card-border-color: hsl(0, 0%, 100%);
}

.project-dashboard {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-width: 0;
    padding: 20px;
    color: var(--color);
}

#skill-info-box {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px;
    border: var(--card-border-color) solid 1px;
    color: var(--color);
    font-family: "solway", sans-serif;
}

#skill-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

#skill-main {
    min-width: 0;
}

#skill-name {
    margin: 0 0 10px 0;
    overflow: hidden;
    font-family: "Rye", sans-serif;
    font-size: larger;
}

#skill-description {
    margin: 0;
    overflow: hidden;
}

#skill-date {
    min-width: 160px;
    margin: 0;
    overflow: hidden;
    font-size: 10px;
}

#skill-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

#skill-id,
.project-id {
    overflow: hidden;
    color: var(--id-color);
    text-decoration: none;
    font-size: 7px;
}

#skill-options {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.option-btn {
    padding: 8px 12px;
    border: var(--card-border-color) solid 1px;
    border-radius: 20px;
    background-color: var(--background-color);
    color: var(--color);
    font-family: "solway", sans-serif;
    font-size: medium;
}

.option-btn:hover {
    scale: 1.03;
}

.option-btn:active {
    scale: 0.97;
}

#project-section {
    display: flex;
    flex-direction: column;
}

#project-section h2 {
    margin-left: 10px;
}

#project-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#project-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}

.project-box {
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: var(--card-border-color) solid 1px;
    color: var(--color);
    font-family: "solway", sans-serif;
}

.project-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 0;
}

.project-name {
    overflow: hidden;
    color: var(--color);
    text-decoration: none;
    font-family: "Rye", sans-serif;
    font-size: larger;
}

.project-description {
    height: 20px;
    margin: 0;
    overflow: hidden;
}

.project-date {
    overflow: hidden;
    font-size: 10px;
}

.project-id {
    margin-top: 5px;
}

@media (width < 700px) {
    .project-dashboard {
        padding: 10px;
    }

    #skill-info {
        align-items: flex-start;
    }

    #skill-date {
        min-width: 110px;
    }

    .project-box {
        grid-template-columns: 1fr 110px;
    }

}
