/* Registration page content */
.invite-call {
    overflow: hidden;
    text-align: center;
    font-family: "Merriweather";
}

/* Form shell */
.form {
    border: var(--form-border-color) solid 2px;
    border-radius: 10px;
    scale: 1.3;
}

.form-header {
    margin-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    border-bottom: var(--form-border-color) solid 1px;
    text-align: center;
}

.form-content-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* Form fields */
.email-box,
.name-box {
    display: flex;
    flex-direction: column;
}

.password-input-container {
    display: flex;
}

.show-password {
    border: none;
    background-color: var(--form-border-color);
    color: var(--form-button-text-color);
}

.show-password:active {
    scale: 0.97;
}

/* Form actions */
.submit-btn {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--form-border-color);
    font-family: "Rye";
}

.submit-btn:hover {
    scale: 1.01;
}

.submit-btn:active {
    scale: 0.99;
}
